
/* Header section */
.header-image{
    background-image: url('../resources/Banner.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    
}

.title{
    color: white;
    text-align: center;
    padding: 160px;
    
}

.celebration{
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 2px;
    
}

/* Main section start*/

/* firsty offer start */
.offer{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.description{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;

}

.categories{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
   }

.offer-image{

    width: 802.9px;
    height: 500px;
    background-position: center;
    display: block;
    margin: auto;
}
/* offer end */

/* PARTY Section */
.party-night{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    
}


.header-name{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    /* margin-top: 200px; */
    padding-left: 126px ;
    padding-right: 552px;
    padding-top: 126px;
}

.description-container{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px ;
    padding-top: 0px;

}

.button-design{
    margin-left: 126px;
    background-color: #070211;
    color: white;
    border: none;


}

.place-description{

    color: #070211;
    text-align: center;
    font-size: 32px;
    font-weight: 500px;
    padding-top: 50px;
    
    
}
.color{
    color: #F00;
    
    
}

.button{
    background: #F00;
    border-radius: 8px;
    margin-left: 450px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    
    
}


.background{
   
    background: rgb(242, 230, 232);
    padding: 130px;
    border-radius: 10px;
    margin: 130px 0;
    max-width: 1050px;
    margin: 70px auto;

}

/* offer coming soon */
.coming-soon{
    display: flex;
    margin: 100px 100px;
    max-width: 1400px fixed;
   
    /* margin: 100px 200px; */

}

.info-container{
    margin-left: 150px;
}
.title-color{
    color: #F00;
   font-style: normal;
   font-weight: 500;
   /* margin-left: 150px; */
   margin-bottom: 0;
}

.heading-design{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    /* margin-left: 140px; */
    margin-top: 5px;
    
}

.description-info{
    /* margin-left: 150px; */
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 22px;
 
}

.imagecolor{
    width: 364.844px;
    height: 364.844px;
    /* margin-left: 150px; */
}
    
    /* border-radius: 364.844px; */

.container{
    /* margin-left: 140px; */
    font-size: 20px;
}

/* portfolio */

.portfolio-title{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.portfolio-header{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-top: 5px;

}

.portfolio-desc{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.portfolio-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.many-picture{

    width: 400px;
    height: 300px;
    border: 2px solid white;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.many-picture:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

.portfolio-container{
    margin-left: 210px;

}

    