
/* Header section */
.header-image{
    background-image: url('../resources/Banner.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    
}

.title{
    color: white;
    text-align: center;
    padding: 160px;
    
}

.celebration{
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 2px;
    
}

/* Main section start*/

/* firsty offer start */
.offer{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.description{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;

}

.categories{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
   }

.offer-image{

    width: 802.9px;
    height: 500px;
    background-position: center;
    display: block;
    margin: auto;
}
/* offer end */

/* PARTY Section */
.party-night{
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    
}


.header-name{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    /* margin-top: 200px; */
    padding-left: 126px ;
    padding-right: 552px;
    padding-top: 126px;
}

.description-info{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 126px ;
    padding-top: 0px;

}

.button-design{
    margin-left: 126px;
    background-color: #070211;
    color: white;
    border: none;


}

/* .overall-info{
    display: flex;
} */


/* .image-2024{
    
    width: 319.83px;
    height: 464.662px;
    margin-left: 862px;
    margin-top: 0px;
    
} */

/* nav{
    width: 319.83px;
    height: 464.662px;
    margin-left: 862px;
    padding-top: 0;
}
    */

.place-description{

    color: #070211;
    text-align: center;
    font-size: 32px;
    font-weight: 500px;
    padding-top: 50px;
    
    
}
.color{
    color: #F00;
    
    
}

.button{
    
   
    margin-right: 576px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    margin-left: 600px;
    padding: 16px 32px;
    display: inline-flex;
    gap: 10px;
    border: none;
    /* justify-content: center; */
    
}

.background{
    background-color: rgb(242, 230, 232);
    width: 1320px;
    height: 482px;
    text-align: center;
    background-position: center;
    display: block;
    margin: auto;
    margin: 100px;
    border-radius: 10px;
}

/* offer coming soon */
.coming-soon{
    display: flex;
    /* text-align: center;
    background-position: center; */
    
}
.title-color{
    color: #F00;
   font-style: normal;
   font-weight: 500;
   margin-left: 150px;
   margin-bottom: 0;
}

.heading-design{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 146px;
    margin-top: 5px;
    
}

.description-info{
    margin-left: 15px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 22px;
 
}

.radius-design{
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
}
